.bookings-index-container {
  display: flex;
  margin-bottom: 8px;
}

.bookings-index-right {
  width: 50%;
  padding: 10px;
  // box-shadow: 0 0 15px black;
  margin-right: 5px;
  background-color: #355C7C;
  margin-right: 5px;

}

.bookings-index-left {
  width: 50%;
  padding: 10px;
  justify-content: center;
  // box-shadow: 0 0 15px black;
  background-color: #355C7C;

}

.header {
  margin-top: 7px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 8px;
  padding: 5px;
  box-shadow: 0 0 15px black;
  font-style: "Bebas Neue";
  font-style: bold;
  text-align: center;
  background: #ccb65e;
  color: #355C7C;
  font-size: 15px;
  font-family: "Work Sans";
}
