// Specific CSS for your home-page
// .card-img-top {
//     width: 100%;
//     height: 12vw;
//     object-fit: cover;
// }

.container {
  width: 1400px;
  margin: auto;
  position: relative;
}

// .card {
//   border-radius: 16px;
//   max-width: 400px;
// }

// .card-car {
//   margin-top: 0;
//   overflow: hidden;
//   height: 150px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin-bottom: 20px;
// }

// .card-car img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-car h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-car p {
//   font-size: 12px;
//   line-height: 1.0;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-car .card-car-infos {
//   padding: 16px;
// }

.container-rental {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 450px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.container-rental-owner {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 450px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}


.container-rental img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.container-rental h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.container-rental p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.container-rental .card-rental-infos {
  padding: 16px;
  margin: auto;
  position: relative

}

.fullscreen {

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  position: relative;
  // position: fixed;
}

.fullscreen-pic {

  width: 100vw;
  height: 100vh;

  object-fit: cover;
}

.overlay-logo {
  color: white;
  top: 150px;
  left: 55px;
  position: absolute;
}

.overlay-text {
  color: white;
  font-size: 20px;
  font-style: italic;
  top: 300px;
  left: 100px;
  position: absolute;
}
.overlay-button {
  top: 345px;
  left: 100px;
  position: absolute;
}

.buffer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 2;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 20px;
}
