
<!-- <div class="fullscreen-overlay"></div> -->

  <div class="buffer fullscreen">
    <!-- <h1 class="overlay-logo"><strong>VROOM</strong></h1> -->
    <img src='https://res.cloudinary.com/dl6q8gfk9/image/upload/v1605822276/Exotic%20Cars/User%20Faces/logo_pk5nbb.png' class="overlay-logo" alt="...">
    <h3 class="overlay-text">Driving your dream car is just a click away...</h3>
    <%= link_to "Get Started", cars_path, class: "btn btn-outline-light overlay-button" %>
    <picture>
      <source media="(max-aspect-ratio: 4/3)"/>
      <img class="fullscreen-pic" srcset="https://cdn.wallpapersafari.com/86/22/6oFJfO.jpg"/>
    </picture>
  </div>


