.btn-login {
  background-color: #71aada;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.btn-signup {
  background-color: #6790B6;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 4px;
}

.btn-signup:hover {
 text-decoration: none;
 background: white;
 color: #6790B6;
 border: #6790B6 2px solid;
 transition: 0.7s;
}

.btn-flat {
  color: white;
  padding: 0px 0px;
  border-radius: 4px;
  background: #ccb65e;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ccb65e;
  color: white;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }

 .search-btn > i {
  font-size: 30px;
 }

 #btn-sign-out:hover {
  text-decoration: none !important;
 }

 #btn-account {
  color: white;
  border-radius: 24px;

 }