<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <nav>
    <div class="logo">
      <h2><b> V R O O M </b></h2>
    </div>
    <ul class="nav-links">
      <li><a href="/cars">Home</a></li>
      <li><a href="/cars/rentals">My activity</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
